#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#todo-list li {
    font-size: 24px;
    padding: 20px 90px;
    border-bottom: 1px dotted #ccc;
    width:580px;
    margin: auto;
}
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
button,
input[type="checkbox"] {
  outline: none;
}
#todo-list li:last-child {
	border-bottom: none;
}
#todo-list li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
    top: 15px;
    right:520px;
	bottom: 0;
	margin: auto 0;
    border: none;	
    -webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
#todo-list li .toggle:after {
	content: "\2713";
	line-height: 50px;
    font-size: 30px;
    color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
	bottom: 1px;
    position: relative;
    color: #85ada7;
	text-shadow: 0 1px 0 #669991;
    
}
#todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
    cursor:pointer
}
#todo-list li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
#todo-list li .destroy::after {
	content: '✖';
}
#todo-list li:hover .destroy {
	display: block;
}


